@media(max-width:768px) {
    .quiz-container {
        background-color: #fff;
        width: 96%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #opcoes-container {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    #next-button {
        width: 80%;
        margin: auto;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.quiz-container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333;
}

#pergunta {
    font-size: 20px;
    margin-bottom: 20px;
}

.option {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#next-button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
#opcoes-container{
    display: flex;
}
